<%- include('../includes/head') %>
<%- include('../includes/navigation') %>
<main>
  <h1>Checkout</h1>
  <p>Checkout functionality can be added here later. This page completes the MVC shop flow.</p>
</main>
<%- include('../includes/end') %>
