<%- include('../includes/head') %>
<%- include('../includes/navigation') %>
<main>
  <h1>Your Orders</h1>
  <p>Order pages are scaffolded here as part of the MVC structure.</p>
</main>
<%- include('../includes/end') %>
